name: Release

permissions:
  contents: write # for modifying version in-place & pushing tags
  packages: read # for downloading signore docker image

on:
  workflow_dispatch:

env:
  GOPROXY: https://proxy.golang.org/

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ssh-key: "${{ secrets.GIT_SSH_PRIVATE_KEY }}"
      -
        id: setup-signore-package
        uses: hashicorp/setup-signore-package@v1
      -
        name: Run release script
        env:
          SIGNORE_CLIENT_ID: ${{ secrets.SIGNORE_CLIENT_ID }}
          SIGNORE_CLIENT_SECRET: ${{ secrets.SIGNORE_CLIENT_SECRET }}
          SIGNORE_SIGNER: ${{ secrets.SIGNORE_SIGNER }}
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GIT_SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed22519
          ./scripts/release/release.sh
          rm -f ~/.ssh/id_ed22519
